:root {
    /*Dola Colour Palette*/
    --blue: #2d70de;
    --green: #14b8a6;
    --red1: #ff5454;
    --red2: #f87171;
    --red3: #ff5757;
    --orange1: #ff9a7c;
    --orange2: #ffb099;
    --orange3: #fdba74;
    --orange4: #ff9f87;
    --purple: #9482ed;
    --white1: #eaeaea;
    --white2: #e6e9ec;
    --gray1: #dddfe4;
    --gray2: #c7ccd2;
    --gray3: #d4d6da;
    --gray4: #9fa3a8;
    --dark1: #3d3d3d;
    --dark2: #2a2a2a;
    --dark3: #8f8f8f;

    --background: var(--gray1);
    --background-header-card: var(--white2);
    --background-pic: var(--orange1);
    --background-sidebar: var(--blue);

    --txt-light: var(--white1);
    --txt-dark: var(--dark2);
    --txt-btn: var(--dark1);
    --txt-error: var(--red1);

    --clr-btn: var(--blue);
    --clr-svg: var(--dark1);
    --clr-input-label: var(--gray4);
    --clr-card-border: var(--orange4);
    --clr-modal-sep: var(--gray4);
    --clr-footer: var(--orange2);
    --clr-overlay: rgba(0, 0, 0, 0.4);

    --size-heading: 5rem;
    --size-txt: 1.125rem;
    --size-header-account: 1.4rem;
    --size-header-name: 1.6rem;
    --size-form-label: 1.5rem;
    --size-form-input: 1.75rem;
    --size-footers: 1rem;
    --size-button: 1.3rem;

    --weight-light: 300;
    --weight-normal: 500;
    --weight-bold: 700;
    --weight-heavy: 900;

    --gap-sidebar: 1.2rem;
    --gap-trending: 1rem;

    --pic-default-wh: 4rem;

    --url-icon: url(books.png);

    --icon-default-wh: 2.4rem;
    --icon-big-wh: 3rem;
    --icon-huge-wh: 5rem;

    --shadow-header: 0 10px 14px -3px rgba(0, 0, 0, 0.125),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-card: 0 4px 6px 2px rgba(0, 0, 0, 0.125),
    0 4px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-sidebar: 6px 0 12px -2px rgba(0, 0, 0, 0.15),
    4px 0 6px -2px rgba(0, 0, 0, 0.2);
    --shadow-btn: 0 0 4px 4px rgba(0, 0, 0, 0.1),
    0 4px 4px -2px rgba(0, 0, 0, 0.125);
    --shadow-btn-status: 0 0 4px 4px rgba(0, 0, 0, 0.1),
    0 -3px 4px -2px rgba(0, 0, 0, 0.125);
    --shadow-pic: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border: 1px var(--red3) solid;*/
}

/*Elements*/
body {
    min-height: 100vh;
    height: 100vh; /*Forces scrolling on Overflowing Areas*/
    min-width: 100vw;
    width: 100vw; /*Forces scrolling on Overflowing Areas*/
    background: var(--background);
    color: var(--txt-dark);
    font-family: Lato, sans-serif;
    font-size: var(--size-txt);
    display: grid;
    grid-template: auto 1fr min-content / 1fr;
    grid-template-areas:
            'header'
            'content'
            'footer';
}

svg {
    height: 2rem;
    width: 2rem;
    aspect-ratio: 1/1;
}

svg path {
    fill: var(--clr-svg);
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all 0.12s ease-in-out;
}

button.action {
    background-color: var(--clr-btn);
    color: var(--txt-light);
    font-size: var(--size-button);
    font-weight: 700;
    padding: 0.75rem 2.3rem;
    border-radius: 99rem;
    box-shadow: var(--shadow-btn);
}

button.action:hover {
    transform: translateY(-4%);
}

button.action:active {
    transform: translateY(6%);
}

button.status {
    background-color: var(--green);
    color: var(--txt-light);
    font-size: var(--size-button);
    font-weight: 700;
    padding: 0.75rem 2.3rem;
    border-radius: 4rem 4rem 0 0;
    box-shadow: var(--shadow-btn-status);
    height: 8rem;
}

button.status:hover {
    filter: brightness(90%);
}

button.status:active {
    transform: translateY(6%);
}

button.red {
    background-color: var(--red1);
}

/*Classes*/
.header {
    grid-area: header;
    padding: 1.5rem 4rem;
    background-color: var(--background-header-card);
    box-shadow: var(--shadow-header);
    display: flex;
    flex-flow: row nowrap;
    gap: 14rem;
    align-items: center;
    justify-content: space-between;
}

.header .left {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
    align-items: center;
}

.header .icon {
    background: var(--url-icon) center center / cover no-repeat;
    height: var(--icon-huge-wh);
    aspect-ratio: 1 / 1;
}

.content {
    grid-area: content;
    overflow: auto; /*Forces scrolling on Overflowing Areas*/
    padding: 2rem;
}

.content .book-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 260px;
}

.content .card {
    background-color: var(--background-header-card);
    box-shadow: var(--shadow-card);
    border-radius: 0.8rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 0.6rem;
}

.content .card .trash {
    align-self: flex-start;
}

.card .info {
    display: flex;
    flex-flow: row nowrap;
    padding: 1.4rem;
    gap: 0.6rem;
    justify-content: space-between;
}

.card .info .details {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.content .card .title {
    padding-bottom: 0.4rem;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: var(--size-footers);
    background-color: var(--clr-footer);
}

.footer a {
    text-decoration: underline;
    color: var(--txt-dark);
}

.modal {
    background-color: var(--background-header-card);
    position: fixed;
    top: 50%;
    left: 50%;
    width: 380px;
    padding: 2rem;
    border-radius: 2rem;
    z-index: 1;
    transition: all 0.16s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.input-div {
    position: relative;
    width: 90%;
    margin-top: 1.4rem;
}

.input-div input {
    width: 100%;
    padding: 0.6rem 0;
    font-size: var(--size-form-input);
    font-family: inherit;
    border: none;
    border-bottom: 1px var(--clr-modal-sep) solid;
    outline: none;
    background: transparent;
}

.input-div label {
    position: absolute;
    top: 0;
    left: 2rem;
    padding: 0.25rem 0;
    font-size: var(--size-form-label);
    font-weight: var(--weight-bold);
    color: var(--clr-input-label);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.input-div input:focus ~ label,
.input-div input:valid ~ label {
    top: -1.75rem;
    left: 0;
}

.form-modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-overlay);
}

.overlay.active {
    display: block;
}