:root {
    /*Dola Colour Palette*/
    --blue: #2d70de;
    --green: #14b8a6;
    --red1: #ff5454;
    --red2: #f87171;
    --red3: #ff5757;
    --orange1: #ff9a7c;
    --orange2: #ffb099;
    --orange3: #fdba74;
    --orange4: #ff9f87;
    --purple: #9482ed;
    --white1: #eaeaea;
    --white2: #e6e9ec;
    --gray1: #dddfe4;
    --gray2: #c7ccd2;
    --gray3: #d4d6da;
    --dark1: #3d3d3d;
    --dark2: #2a2a2a;

    --background: var(--gray1);
    --background-header-card: var(--white2);
    --background-pic: var(--orange1);
    --background-sidebar: var(--blue);

    --txt-light: var(--white1);
    --txt-dark: var(--dark2);
    --txt-btn: var(--dark1);
    --txt-error: var(--red1);

    --clr-btn: var(--blue);
    --clr-svg: var(--dark1);
    --clr-search-bar: var(--gray3);
    --clr-search-outline: var(--blue);
    --clr-sidebar-svg: var(--white1);
    --clr-card-border: var(--orange4);
    --clr-anncmnt-sep: var(--red2);
    --clr-trending-sep: var(--gray2);
    --clr-footer: var(--orange2);

    --size-heading: 5rem;
    --size-txt: 1.125rem;
    --size-header-account: 1.4rem;
    --size-header-name: 1.6rem;
    --size-sidebar-title: 1.75rem;
    --size-sidebar-links: 1.25rem;
    --size-sidebar-links-active: 1.5rem;
    --size-footers: 1rem;
    --size-button: 1.3rem;

    --weight-light: 300;

    --gap-sidebar: 1.2rem;
    --gap-trending: 1rem;

    --pic-default-wh: 4rem;

    --icon-default-wh: 2.4rem;
    --icon-big-wh: 3rem;
    --icon-huge-wh: 4rem;

    --shadow-header: 0 10px 14px -3px rgba(0, 0, 0, 0.125),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-card: 0 4px 6px 2px rgba(0, 0, 0, 0.125),
    0 4px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-sidebar: 6px 0 12px -2px rgba(0, 0, 0, 0.15),
    4px 0 6px -2px rgba(0, 0, 0, 0.2);
    --shadow-btn: 0 0 4px 4px rgba(0, 0, 0, 0.1),
    0 4px 4px -2px rgba(0, 0, 0, 0.125);
    --shadow-pic: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border: 1px var(--red3) solid;*/
}

/*Elements*/
body {
    min-height: 100vh;
    height: 100vh; /*Forces scrolling on Overflowing Areas*/
    min-width: 100vw;
    width: 100vw; /*Forces scrolling on Overflowing Areas*/
    background: var(--background);
    color: var(--txt-dark);
    font-family: Lato, sans-serif;
    font-size: var(--size-txt);
    display: grid;
    grid-template: auto 1fr min-content / 1fr;
    grid-template-areas:
            'header'
            'content'
            'footer';
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
}

button.action {
    background-color: var(--clr-btn);
    color: var(--txt-light);
    font-size: var(--size-button);
    font-weight: 700;
    padding: 0.75rem 2.3rem;
    border-radius: 99rem;
    box-shadow: var(--shadow-btn);
}

/*Classes*/
.header {
    grid-area: header;
    padding: 1.5rem 4rem;
    background-color: var(--background-header-card);
    box-shadow: var(--shadow-header);
}

.content {
    grid-area: content;
    overflow: auto; /*Forces scrolling on Overflowing Areas*/
    padding: 2rem;
}

.content .book-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 260px;
}

.content .card {
    background-color: var(--background-header-card);
    box-shadow: var(--shadow-card);
    padding: 1.4rem;
    border-radius: 0.8rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6rem;
}

.content .card .title {
    padding-bottom: 0.4rem;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: var(--size-footers);
    background-color: var(--clr-footer);
}

.footer a {
    text-decoration: underline;
    color: var(--txt-dark);
}